<div class="comment-wrap container" >
	<div class="comment-block text-center" id="comments_form_<%=@post.id%>">
	  <%= form_tag(post_comments_path(@post), method: "post", remote: true) do %>
			<textarea style="border-color:white;width: 100%; hegith: 100%;" name="comment[body]" placeholder="Add comment..."></textarea>
			<button class="fa fa-paper-plane" href="#" role="button" style="border: none; background: none;"></button>
		<% end %>
	</div>
</div>
