<main class="mdl-layout__content mdl-color--grey-100">
  
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  
</main>
<!--<a href="/diary/new"  id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">다이어리 작성</a>-->