<div class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 text-center">
  <div class="background-univ">
    <div class="section-table text-center">
    	<div class="section-tablecell-sm darker2">
    		<div class="container">
    			<img alt="Openuniv logo" class="mb-15" src="https://www.opencollege.kr/assets/openuniv_logo-2fca0d63ef94d79df64d55844a7e00a6.png" width="300" />
    			<h1 class="white fw-normal mv-0 l-12">
    				디자인 다이어리
          </h1>			
          <h4 class="white mv-0 fw-normal">Reflect your Life, Be a better Person.</h4>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <h1 style="margin-top:90px;margin-bottom:90px">반갑습니다!</h1>
  <% else %>
    <h1>로그인해주세요!</h1>
  <% end %>
</div>





<!--<main class="mdl-layout__content mdl-color--grey-100">-->
<!--  <div class="mdl-grid demo-content">-->
<!--    <div class="demo-card-wide mdl-card mdl-shadow--2dp">-->
<!--      <div class="mdl-card__title">-->
<!--        <h2 class="mdl-card__title-text">Welcome</h2>-->
<!--      </div>-->
<!--      <div class="mdl-card__supporting-text">-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--        Mauris sagittis pellentesque lacus eleifend lacinia...-->
<!--      </div>-->
<!--      <div class="mdl-card__actions mdl-card--border">-->
<!--        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">-->
<!--          Get Started-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
