<div class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 text-center">
  <div class="background-univ">
    <div class="section-table text-center">
    	<div class="section-tablecell-sm darker2">
    		<div class="container">
    			<img alt="Openuniv logo" class="mb-15" src="https://www.opencollege.kr/assets/openuniv_logo-2fca0d63ef94d79df64d55844a7e00a6.png" width="300" />
    			<h1 class="white fw-normal mv-0 l-12">
    				디자인 다이어리
          </h1>			
          <h4 class="white mv-0 fw-normal">Reflect your Life, Be a better Person.</h4>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <h1 style="margin-top:90px;margin-bottom:90px">반갑습니다!</h1>
  <% else %>
    <a style="margin-top:75px;margin-bottom:75px" href="/users/auth/facebook"><h1>로그인해주세요!</h1></a>
  <% end %>
</div>
