// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.comment-wrap{
  position:relative;
  width:76%;
  background-color: white;
  padding:8px;
  padding-right:5px;
  border-radius: 10px;
}
.avatar_name{
  position: absolute;
  left:75px;
  top:16px;
}