// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Users index */
.background-univ{
 background:url('https://s3.ap-northeast-2.amazonaws.com/sungurails/diary.jpg') no-repeat center center;
 /* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}


.recent_post li{
	color:black;
}

.recent_post img{
	margin-right: 10px;
}

.box{
	display: none;
	width: 100%;
}

a:hover + .box,.box:hover{
	display: block;
	position: relative;
	z-index: 100;
}

li, ul {
	position: relative;
	top: 0;
	left: 0;
}


.table_list{
	display: none;
}

html, body {
	overflow-x: hidden;
	overflow-y: auto;
}

ul
{
	list-style-type: none;
}

//#comment_button{
//	display: none;
//}
//#comment_box{
//	display: none;
//}